* {
    margin: 0; padding: 0;
}

body {
    background-image: url(../IMG/skyrim.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}




@media screen and (max-width: 480px) {
    body {
        min-height: 100vh;
        
    }
    
    #header {
        max-width: 100%;
        max-height: 12vh;
        border: solid;
        display: flex;
        background-color: #444243;
    }
    
    #header img {
        width: 100px;
    }
    

    #header .purple {
        display: flex;
        flex-direction: row;
        margin-top: 4vh;
    }


    

    #header nav {
        flex: 1;
        margin-left: 0vw;
        
    }
    
    
    




   


    a:link {
        text-decoration: none;
    }
    
    #header .purple li {
        list-style-type: none;
        
    }


    #header .purple li a {
        color: #AFA9A9;
        font-size: 12px;
        padding-left: 0.5vw;
    }










    #main {
       max-width: 70vw;
        margin: 6vh auto;
        background-color: rgba(27, 26, 26, 0.81);
    }

    #main video {
       display: none;
    }


    #main h1 {
        font-size: 14px;
    }

    .klaas h1 {
        border: solid #AFA9A9;
        border-radius: 10px;
        padding: 10px;
        color: #AFA9A9;
        font-size: 15px;
        padding-bottom: 40vh;
    }
 







    #footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #444243;
        border: solid;
        min-height: 11.1vh;
    }
    #footer p { 
        color: #AFA9A9;
        font-size: 10px;
    }

    #footer #green{
        width: 40px;
    }

    #footer #red{
        width: 40px;
    }
}



@media screen and (min-width: 769px) and (max-width: 1279px) {



    body {
        min-height: 100vh;
    }

    #header {
        max-width: 100%;
        max-height: 20vh;
        border: solid;
        display: flex;
        background-color: #444243;
    }




    #header img {
        width: 180px;
    }
    

    #header .purple {
        display: flex;
        flex-direction: row;
        margin-top: 5vh;
    }

    #header nav {
        flex: 1;
        margin-left: 0vw;
        
    }



    #main img {
        display: none;
    }


    a:link {
        text-decoration: none;
    }


    #header .purple li {
        list-style-type: none;
        
    }


    #header .purple li a {
        color: #AFA9A9;
        font-size: 20px;
        padding-left: 03vw;
    }



    /* beginning main */





    #main {
        max-width: 70vw;
         margin: 6vh auto;
         background-color: rgba(27, 26, 26, 0.81);
         min-height: 68vh
     }
 
     #main video {
        display: none;
     }
 
 
     #main h1 {
         font-size: 14px;
     }



     .klaas h1 {
        border: solid #AFA9A9;
        border-radius: 10px;
        padding: 10px;
        color: #AFA9A9;
        font-size: 15px;
        padding-bottom: 40vh;
    }
 
/* end main */









    /* footer */


    #footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #444243;
        border: solid;
        min-height: 8vh;
    }
    #footer p { 
        color: #AFA9A9;
        font-size: 10px;
    }

    #footer #green{
        width: 55px;
    }

    #footer #red{
        width: 55px;
    }

    
}




















@media screen and (min-width: 1280px) {





#header {
    max-width: 100%;
    max-height: 12vh;
    border: solid;
    display: flex;
    background-color: #444243;
}

#header nav {
    flex: 1;
}

#header img {
    width: 110px;
    
}


.paars {
    display: flex;
    flex-direction: row;
}


#header .purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

#header .purple li {
    list-style-type: none;
    
}


#header .purple li a {
    color: #AFA9A9;

}

a:link {
    text-decoration: none;
}

/* end of header */
/* begin of main */


#main {
    width: 56vw;
    margin: 10vh auto;
    min-height: 150vh;
    background-color: rgba(27, 26, 26, 0.81);

    
}

.klaas h1 {
    border: solid #AFA9A9;
    border-radius: 10px;
    padding: 10px;
    color: #AFA9A9;
    font-size: 15px;
    padding-bottom: 40vh;
}






/* end of main */
/* begin of footer */


#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #444243;
    border: solid;
}


#footer p {
    color: #AFA9A9;
}


#footer #green{
    width: 40px;
}

#footer #red{
    width: 40px;
}




}




