* {
    margin: 0; padding: 0;
}

body {
    background-image: url(../IMG/skyrim.png);
    background-size: cover;
}


#header {
    max-width: 100%;
    max-height: 12vh;
    border: solid;
    display: flex;
    background-color: #444243;
}

#header nav {
    flex: 1;
}

#header img {
    width: 110px;
    
}


.paars {
    display: flex;
    flex-direction: row;
}


#header .purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

#header .purple li {
    list-style-type: none;
    
}


#header .purple li a {
    color: #AFA9A9;

}

a:link {
    text-decoration: none;
}

/* end of header */
/* begin of main */


#main {
    width: 56vw;
    margin: 10vh auto;
    min-height: 150vh;
    background-color: rgba(27, 26, 26, 0.81);

    
}








/* end of main */
/* begin of footer */


#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #444243;
    border: solid;
}


#footer p {
    color: #AFA9A9;
}


#footer #green{
    width: 50px;
}

#footer #red{
    width: 50px;
}









