@charset "UTF-8";

 

/* Basis Responsive indeling devices */
/* smallere telefoon 0-480px */
@media screen and (max-width: 480px) {
    

}
/* Tablets en breedere telefoons min 481px and max 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}
/* Grotere tablets, laptop en smalle schermen min 769px and max 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px) {
    
}
/* Grotere desktops en schermen min 1280px */
@media screen and (min-width: 1280px) {
    * {
    margin: 0; padding: 0;
}

body {
    background-image: url(../IMG/skyrim.png);
    background-size: cover;
}


#header {
    max-width: 100%;
    max-height: 12vh;
    border: solid;
    display: flex;
    background-color: #444243;
}

#header nav {
    flex: 1;
}

#header img {
    width: 110px;
    
}


.paars {
    display: flex;
    flex-direction: row;
}


#header .purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

#header .purple li {
    list-style-type: none;
    
}


#header .purple li a {
    color: #AFA9A9;

}

a:link {
    text-decoration: none;
}

/* end of header */
/* begin of main */


#main {
    width: 56vw;
    margin: 10vh auto;
    min-height: 150vh;
    background-color: rgba(27, 26, 26, 0.81);

    
}








/* end of main */
/* begin of footer */


#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #444243;
    border: solid;
    min-height: 8vh;
}


#footer p {
    color: #AFA9A9;
    font-size: 12px;
}


#footer #green{
    width: 40px;

}

#footer #red{
    width: 40px;
}

.slideshow1 {
    position: absolute;
    width: 20vw;
    margin: 10vh;
    padding-left: 4vw;
}

.slideshow2 {
    width: 10vw;
    margin-top: 10vh;
    margin-left: 5vh;
    margin-bottom: 0vh;
    padding-left: 28vw;
}
.slideshow3 {
    width: 10vw;
    margin-top: 0vh;
    margin-left: 5vh;
    padding-left: 28vw;
    padding-bottom: 0vw;
}
.marvel {
    width: 15vw;
    margin-top: 10vh;
    padding-left: 6.5vw;
    position: absolute;
}

.mar{
    margin-top: 15vh;
    padding-left: 22vw;
}

.cyberpunk {
    width: 15vw;
    margin-top: 10vh;
    padding-left: 30vw;
    position: absolute;
}



 p {
   color: #AFA9A9;
} 
.punk {
    padding-left: 45.5vw;
}

.rdr {
    width: 15vw;
    margin-top: 20vh;
    padding-left: 30vw;
    position: absolute;


}

.ciri {
    width: 15vw;
    margin-top: 20vh;
    padding-left: 6.5vw;
    position: absolute;
}

.geralt {
    padding-left: 22vw;
    margin-top: 23vh;
}

.arthur {
    position: absolute;
    margin-top: 23vh;
    padding-left: 45.6vw;
} 
#death_loop img {
    width: 15vw;
    margin-top: 25vh;
    padding-left: 6.5vw;
    position: absolute;
}
#nioh-2 img{
    width: 15vw;
    margin-top: 25vh;
    padding-left: 30vw;
    position: absolute;
}

#death_loop p {
    position: absolute;
    margin-top: 27vh;
    padding-left: 46.4vw;
}
#nioh-2 p{
    position: absolute;
    margin-top: 27vh;
    padding-left: 23vw;
}
}










