* {
    margin: 0; padding: 0;
}

body {
    background-image: url(../IMG/skyrim.png);
    background-size: cover;
}


#header {
    max-width: 100%;
    max-height: 12vh;
    border: solid;
    display: flex;
    background-color: #444243;
}

#header nav {
    flex: 1;
}

#header img {
    width: 110px;
    
}


.paars {
    display: flex;
    flex-direction: row;
}


#header .purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

#header .purple li {
    list-style-type: none;
    
}


#header .purple li a {
    color: #AFA9A9;

}

a:link {
    text-decoration: none;
}

/* end of header */
/* begin of main */


#main {
    width: 56vw;
    margin: 10vh auto;
    min-height: 150vh;
    background-color: rgba(27, 26, 26, 0.81);

    
}


#section1 {
    border: solid #AFA9A9;
    max-width: 400px;
    margin-top: 30vh;
    border-radius: 50px;
}


#logo_2 {
    width: 450px;
}

#form {
    margin-left: 5vw;
    
}

#form h1 {
    color: #AFA9A9;
    font-size: 20px;
}


#message-area {
    resize: none;
}

.input_typing {
    height: 30px;
    width: 240px;
    font-size: 15px;   
}

.flex {
    display: flex; 
    flex-direction: row;
    
}

.flex p {
    margin-top: 70px;
    border: solid #AFA9A9;
    border-radius:25px;
    color: #AFA9A9;
    font-size: 20px;
}



/* end of main */
/* begin of footer */


#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #444243;
    border: solid;
    min-height: 8vh;
}


#footer p {
    color: #AFA9A9;
    font-size: 12px;
}


#footer #green{
    width: 40px;
}

#footer #red{
    width: 40px;
}









